@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin-bottom: 50px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 1.01em;
}

.title {
  font-weight: 700;
  margin-top: 30px;
}

p {
  margin-bottom: 1rem;
}

/* Next button in survey */
#sv-nav-next {
  margin-left: auto;
}

#sv-nav-complete {
  margin-left: auto;
}

label.sd-rating__item {
  border-color: transparent !important;
}

.sd-page__description {
  color: #000000 !important;
  font-weight: 700 !important;
}
